/* Background */
body {
  background-image: url('/src/assets/circuitBoard.png');
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  
}

a {
  text-decoration: none;
  color: white;
}

/* Parent flex container */
.app {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px 20px;
}

/* Sidebar */
.sidebar {
  background-color: rgb(88, 88, 88);
  width: 200px;
  height: 400px;

  /* Sticky behavior */
  position: sticky;
  top: 20px;   /* sticks when it hits 20px from top */
  align-self: flex-start; /* so it doesn't stretch with flex */

  text-align: center;
  border-radius: 10px;

  border: 2px solid transparent; /* base border */
  box-shadow: 0 0 10px 2px rgba(177, 95, 255, 0.7);
}

/* Main content */
.main {
  background-color: rgb(59, 59, 59);
  width: 800px;
  padding: 20px;
  margin-top: 50px; /* space from top */
  color: white;
  border-radius: 10px;
  height: 2200px;
  border: 2px solid transparent; /* base border */
  box-shadow: 0 0 10px 2px rgba(0, 255, 242, 0.7);
}

.circleImg {
  border-radius: 50%;  /* makes it a circle */
  object-fit: cover;   /* zoom/crop to fill */
  border: 3px solid rgb(88, 88, 88); /* white outline */
  margin-top: -1000px;
  margin-left: -2px;
}

.name {

  margin-top: 0px;
  font-weight: 600;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  
}

.contact {
  margin-top: 17px;
}

.contact:hover {
  color: blue;
  cursor: pointer;
}

button {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  background-color: grey;

  border: 2px solid transparent; /* base border */
  box-shadow: 0 0 10px 2px rgba(255, 26, 26, 0.7);
}

button i {
  font-size: 17px;
}

.location {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -10px;
  font-size: 16px;
}

.sunset {
  border-radius: 10px;
}

label {
  position: absolute;
  background-color: darkgrey;
  width: 70px;
  height: 35px;
  right: 25px;
  top: 25px;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 10px 2px rgba(255, 26, 26, 0.7);
}

label:after {
  content: "";
  width: 27px;
  height: 27px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: white;
  border-radius: 180px;
  transition: 0.3s;
}

input {
  visibility: hidden;
}
input:checked + label {
  background-color: rgb(56, 56, 56);
}
input:checked + label:after {

  left: 67px;
  transform: translateX(-100%);
  background-color: black;
}
label:active:after {
  width: 40px;
}

.sec2 {
  margin-top: 100px;
}

.proj {
  width: 770px;
  height: 200px;
  margin-top: 50px;
  border-radius: 20px;
  padding: 15px;
  transition: 0.3s ease;
  cursor: pointer;
}

.proj:hover {
  background-color: rgb(50, 50, 50);
  box-shadow: 0 0 10px 2px rgba(255, 196, 19, 0.7);
}

.proj:hover a {
  color: rgb(79, 211, 255);
}

h1 {
  font-size: 45px;
}

.sec3 p {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  font-size: 18px;

  line-height: 25px;
}

.sec3 h1 {
  margin-top: 65px;
}

li {
  margin-top: 25px;
  font-size: 20px;
  margin-left: -30px;
  cursor: pointer;
  height: 30px;
  width: 180px;
  transition: 0.3s ease;
}

li:hover {
  box-shadow: 0 0 10px 2px rgba(144, 255, 225, 0.7);
  border-radius: 200px;

  width: 180px;
  height: 30px;

}

ul {
  list-style-type: none;
  margin-top: 30px;
}

.photoRow {
  display: flex;

}

.photoRow img {
  width: 300px;
  max-width: 267px;
}

.sec1 {
  text-align: center;
  line-height: normal;
  background-color: rgb(38, 38, 38);
  width: 840px;
  height: 440px;
  margin-top: -60px;
  margin-left: -20px;
  
}

.sec1 h1 {
  margin-top: 40px;
  font-size: 80px;
  margin-bottom: 30px;
  padding-top: 70px;
}

.sec1 p {
  font-size: 20px;
  margin-top: 10px;

}

.sec1 h2 {
  margin-top: 25px;
  font-size: 50px;
  margin-bottom: 100px;
}

.cursor {
  display:inline;
  background: white;
  margin-left: 2px;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}
